extends layout

block content
  div.content-anime
    div.head
      h1 Title: #{anime.title}

    div.anime
      p #[strong CREATOR : ]
        a(href=anime.creator.url) #{anime.creator.name}
    div.anime
      p #[strong SUMMARY : ] #{anime.summary}
    div.anime
      p #[strong GENRE : ]
        each val, index in anime.genre
          a(href=val.url) #{val.name}
          if index < anime.genre.length - 1
            |,
    div.content-anime
      div.head
        h1 Telecast Details

      each val in anime_availability
        hr
        if val.status=='finished airing'
          div.anime
            p #[strong Airing status : ] #{val.status}
        else if val.status=='yet to be aired'
          div.anime
            p #[strong Airing status : ] #{val.status}
        else
          div.anime
            p #[strong Airing status : ] #{val.status}
        div.anime
          p #[strong Studio :] #{val.studio}
        div.anime
          p #[strong Database Id :] 
            a(href=val.url) #{val._id}

      else
        div.content-anime
          div.anime
            p There is no details of Telecast Details of this anime in the library.
      hr
      div.btns
        p
          a.delete(href=anime.url+'/delete') Delete Anime 
        p
          a.delete(href=anime.url+'/update') Update Anime