extends layout

block content
  div.content-anime
    div.head
      h1 #{title}: #{anime.title}

    if animeAvailability.length
      div.anime
        p #[strong Delete the following Telecast Details of anime before attempting to delete this Anime.]
      div.anime
        h2 Telecast Details :

      each val  in animeAvailability
        hr
        if val.status=='finished airing'
          div.anime
            p #[strong Status:] #{val.status}
        else if val.status=='yet to be aired'
          div.anime
            p #[strong Status:] #{val.status}
        else
          div.anime
            p #[strong Status:] #{val.status}
        div.anime
          p #[strong Studio:] #{val.studio}
        div.anime
          p #[strong Database_Id:] 
            a(href=val.url) #{val._id}

    else
      div.formView
        form(method='POST' action='')
          div.form-group
            p Do you really want to delete this Anime?
              input#animeid.form-control(type='hidden',name='animeid', required='true', value=anime._id )
          div.form-btn
            button.btn.btn-primary(type='submit') Delete
            p
              a.delete(href='/catalog/animes') cancel