extends layout

block content
  div.content-anime
    div.anime
      h1 #[strong Title:] 
        a(href=availability.anime.url) #{availability.anime.title}
    div.anime
      p Database_ID:  #{availability._id}
    div.anime
      p #[strong Studio:] #{availability.studio}
    div.anime
      p #[strong Status:] 
        if availability.status=='finished airing'
          span.text-success #{availability.status}
        else if availability.status=='yet to be aired'
          span.text-danger #{availability.status}
        else
          span.text-warning #{availability.status}
    hr
    div.btns
      p
        a.delete(href=availability.url+'/delete') Delete Telecast details 
      p
        a.delete(href=availability.url+'/update') Update Telecast details