extends layout

block content
  div.content-anime
    div.head-creator
      h1 Anime Creator: #{creator.name}
      p #{creator.date_of_birth_formatted} - #{creator.date_of_death_formatted}
  div.content-anime
    div.anime
      h2 Creator of following animes :

    each anime in creators_anime
      div.anime
        a(href=anime.url) #{anime.title}
      div.anime  
        p #{anime.summary}

    else
      p This Creator has no anime.
    hr
    div.btns
      p
        a.delete(href=creator.url+'/delete') Delete Anime creator 
      p
        a.delete(href=creator.url+'/update') Update Anime creator