extends layout

block content

  h1 Anime Creator: #{creator.name}
  p #{creator.date_of_birth_formatted} - #{creator.date_of_death_formatted}

  div(style='margin-left:20px;margin-top:20px')

    h4 Animes

    dl
      each anime in creators_anime
        dt
          a(href=anime.url) #{anime.title}
        dd #{anime.summary}

      else
        p This Creator has no anime.
      hr
      p
        a(href=creator.url+'/delete') Delete Anime Creator
