extends layout

block content
  div.outer
    h1= title
    div.main
      each creator in animeCreator_list
        div.second
          a(href=creator.url) #{creator.name}
          |  (#{creator.date_of_birth_formatted} - #{creator.date_of_death_formatted})

      else
        li There are no authors.
