extends layout

block content
  div.content-anime
    div.head-creator
      h1 Genre: #{genre.name}

  div.content-anime
    div.anime
      h2 Animes available in this genre :  
    each anime in genre_anime
      div.anime
        a(href=anime.url) #{anime.title}
      div.anime
        dd #{anime.summary}

    else
      div.anime
        p This genre has no anime
    hr
    div.btns
      p
        a.delete(href=genre.url+'/delete') Delete Genre 
      p
        a.delete(href=genre.url+'/update') Update Genre