extends layout

block content
  div.anime
    div.head
      h1 #{title}: #{genre.name}

  if animes.length
    div.anime
      p #[strong Delete the following animes before attempting to delete this Genre.]
    div.anime
      h2 Animes 

      each anime  in animes
        div.anime
          a(href=anime.url) #{anime.title}
        div.anime
          p #{anime.summary}

  else
    div.formView
      form(method='POST' action='')
        div.form-group
          p Do you really want to delete this Genre?
            input#genreid.form-control(type='hidden',name='genreid', required='true', value=genre._id )
        div.form-btn
          button.btn.btn-primary(type='submit') Delete
          p
            a.delete(href='/catalog/genres') cancel