extends layout

block content
  div.outer
    div.anime
      h1= title
    div.anime
      p Welcome to #[em Anime Library], This library consists of details of diffrent anime. The anime library has the following record counts
    
    if error
      p Error getting dynamic content.
    else

    div 
      div.second-home
        div.anime
          p #[strong Anime:] !{data.anime_count} 
            a(href='/catalog/anime/create')  Create anime
      div.second-home
        div.anime
          p #[strong Creators:] !{data.animeCreator_count} 
            a(href='/catalog/animecreater/create')  Create anime creater
      div.second-home
        div.anime
          p #[strong Telecast Details:] !{data.availability_count} 
            a(href='/catalog/availability/create')  Create Telecast details
      div.second-home
        div.anime
          p #[strong Genres:] !{data.genre_count} 
            a(href='/catalog/genre/create')  Create genre
 
